<main class="log-in-screen">
	<div *ngIf="!(angularFireAuth.authState | async)">
		<h1 style="margin: .8rem 0rem">Login</h1>

		<button mat-raised-button appGoogleSignIn>
			<img
				src="assets/google-icon.svg"
				alt="google icon"
				style="width: 10"
			/>
			SIGN IN
		</button>

		<h2 style="margin: 2.5rem 0rem">OR</h2>

		<app-login-email></app-login-email>
	</div>
	
	<h3 style="margin:0.8rem 0rem">Navigate to boards, by clicking on the tab in the menu bar</h3>

	<div class="log-out" *ngIf="angularFireAuth.authState | async as user">
		<pre>Signed in with google</pre>
		<h6>{{ user.email }}</h6>
		<button mat-stroked-button (click)="angularFireAuth.signOut()">
			Sign Out
		</button>
	</div>
</main>
