<mat-sidenav-container
	class="sidenav-container mat-typography app-frame mat-app-background"
	fxLayout="column"
>
	<!-- ::APP_SIDE_NAV::-->
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(handset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(handset$ | async) ? 'over' : 'side'"
		[opened]="false"
	>
		<mat-toolbar>Menu</mat-toolbar>

		<mat-nav-list>
			<a
				mat-list-item
				routerLink="/"
				(click)="drawer.close()"
				style="display: flex; align-items: center"
			>
				<mat-icon style="margin: 0 0.5rem" aria-label="home-icon"
					>home</mat-icon
				>
				<span>Home</span>
			</a>

			<a
				mat-list-item
				routerLink="/boards"
				(click)="drawer.close()"
				style="display: flex; align-items: center"
			>
				<mat-icon style="margin: 0 0.5rem" aria-label="board-icon"
					>view_agenda</mat-icon
				>
				<span>Boards</span>
			</a>

			<a
				mat-list-item
				routerLink="/stories"
				(click)="drawer.close()"
				style="display: flex; align-items: center"
			>
				<mat-icon style="margin: 0 0.5rem" aria-label="stories-icon"
					>amp_stories</mat-icon
				>
				<span>Stories</span>
			</a>

			<a
				mat-list-item
				*ngIf="!(angularFireAuth.authState | async)"
				routerLink="/login"
				(click)="drawer.close()"
				style="display: flex; align-items: center"
			>
				<mat-icon style="margin: 0 0.5rem" aria-label="login-icon"
					>login</mat-icon
				>
				<span> Log In </span>
			</a>

			<a
				mat-list-item
				*ngIf="angularFireAuth.authState | async"
				routerLink="/login"
				(click)="drawer.close()"
				style="display: flex; align-items: center"
			>
				<mat-icon style="margin: 0 0.5rem" aria-label="login-icon"
					>exit_to_app</mat-icon
				>
				<span> Log Out </span>
			</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar>
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="handset$ | async"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>

			<section style="display: flex; align-items: center">
				<img
					width="20"
					src="assets/logo.svg"
					alt="storello-logo"
					style="margin: 0rem 0.5rem"
				/>
				<span class="logo" routerLink="/"> Storello Board</span>
			</section>

			<span class="fill-space"></span>

			<div *ngIf="!(handset$ | async)">
				<a mat-button routerLink="/boards">
					<mat-icon style="margin: 0 0.5rem" aria-label="board-icon"
						>view_agenda</mat-icon
					>
					<span>Boards</span>
				</a>

				<a mat-button routerLink="/stories">
					<mat-icon style="margin: 0 0.5rem" aria-label="stories-icon"
						>amp_stories</mat-icon
					>
					<span>Stories</span>
				</a>
				<a
					mat-button
					routerLink="/login"
					*ngIf="!(angularFireAuth.authState | async) as User"
				>
					<mat-icon style="margin: 0 0.5rem" aria-label="login-icon"
						>login</mat-icon
					>
					<span>Log In</span>
				</a>

				<a
					mat-button
					routerLink="/login"
					*ngIf="angularFireAuth.authState | async"
					(click)="angularFireAuth.signOut()"
				>
					<mat-icon style="margin: 0 0.5rem" aria-label="log-out-icon"
						>exit_to_app</mat-icon
					>
					<span>Log Out</span>
				</a>
			</div>

			<button
				mat-icon-button
				[matMenuTriggerFor]="menu"
				aria-label="Example icon-button with a menu"
			>
				<mat-icon>expand_more</mat-icon>
			</button>

			<mat-menu #menu="matMenu">
				<a
					mat-menu-item
					routerLink="/about"
					style="display: flex; align-items: center"
				>
					<mat-icon>info</mat-icon>
					<span>About</span>
				</a>

				<a
					mat-menu-item
					routerLink="/chat"
					style="display: flex; align-items: center"
				>
					<mat-icon>chat_bubble</mat-icon>
					<span>Chat</span>
				</a>

				<a
					mat-menu-item
					target="_blank"
					href="https://github.com/deltd3v/storello-board"
					style="display: flex; align-items: center"
				>
					<mat-icon>code</mat-icon>
					<span>Code on Github</span>
				</a>
			</mat-menu>
		</mat-toolbar>

		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
