:host {
	padding: 24px;
	text-align: center;
}

mat-nav-list {
	padding: 0;
	margin: 0 auto;
	max-width: 600px;
	background-color: #212121;
}

mat-list-item {
	span {
		font-weight: bold;
	}
	&:hover {
		transform: translateY(-3px);
	}

	transition: transform 300ms ease;
}
